*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #regio debug */
.debug #app-top{
    background-color: brown;
}

.debug #app-bottom{
    background-color: chartreuse;
}

.debug .sidebar-top{
    background-color: blanchedalmond;
}

.debug .sidebar-bottom{
    background-color: rgb(37, 24, 4);
}

.debug .content{
    background-color: blue;
}
/* #endregion debug */


/* #region app-top */
    #app-top{
        height: calc(100vh - 70px);
        display: flex;
    }

    #app-top > .sidebar{
        width: 150px;
    }

    #app-top .sidebar-top{
        height: calc(100% - 70px);
    }

    #app-top .sidebar-bottom{
        height: 70px;
    }

    #app-top .content{
        width: calc(100% - 70px);
    }


/* #endregion app-top */




/* #region app-bottom */
    #app-bottom{
        height: 70px;
    }
/* #endregion app-bottom */

/* #region utilities */
    .d-flex{
        display: flex;
    }

    .col-dir{
        flex-direction: column;
    }
/* #endregion utilities */