*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --s-dark_gray: #282828;
    --s-content: #141922;
    --s-sidebar: #000000;
    --s-banner: #080b12;
    --s-playlist: #a3a3a3;


}

/* #regio debug */
.debug #app-top{
    background-color: brown;
}

.debug #app-bottom{
    background-color: chartreuse;
}

.debug .sidebar-top{
    background-color: blanchedalmond;
}

.debug .sidebar-bottom{
    background-color: rgb(37, 24, 4);
}

.debug .content{
    background-color: blue;
}

.debug [class^="col-"]{
    height: 200px;
    background-color: bisque;
    border: 1px dashed;
}
/* #endregion debug */


/* #region app-top */
    #app-top{
        height: calc(100vh - 70px);
        display: flex;
    }

    #app-top > .sidebar{
        width: 40px;
    }

    #app-top .sidebar-top{
        height: calc(100% - 40px);
    }

    #app-top .sidebar-bottom{
        height: 40px;
    }

    #app-top .content{
        overflow-y: auto;
        width: calc(100% - 40px);
    }


/* #endregion app-top */




/* #region app-bottom */
    #app-bottom{
        height: 70px;
    }
/* #endregion app-bottom */

/* #region utilities */
    .d-flex{
        display: flex;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .col-dir{
        flex-direction: column;
    }

    .col-6{
        width: calc(100% / 12 * 6);
    }


/* #endregion utilities */

/* responsive */

@media screen and ( min-width: 768px ) {
    #app-top > .sidebar{
        width: 220px;
    }
    
}

@media screen and (min-width: 992px) {
    .col-lg-3{
        width: calc(100% / 12 * 3);
    }
}